
.container-fluid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#sobre-mi, #contacto{
    width: auto;
    background-color: #e2f5f2;
    height: 88vh;
}

.link1, a{
    color:#4c94b1;
    text-decoration: none;
}

#misproyectos{
    width: auto;
    height: 88vh;
}
.text-sobre-mi, .text-contacto, .text-proyecto{
    font-size: 20px;
    margin-top: 5px;
}
.col-xs-8, .col-xs-2, .container{
    padding: 0px;
}
.titulo-sobre-mi, .titulo-proyectos, .titulo-contacto{
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
}
.titulo-proyectos:hover{
    color: #797a7a;
}
.titulo-sobre-mi:hover{
    color: #797a7a;
}
.titulo-contacto:hover{
    color: #797a7a;
}





.text-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
   text-align: center;
   margin: 10px 25px;
}
.text-proyecto{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container-contacto, .container-sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:justify;
    margin: 0px 25px;
}
.container-formulario{
    width: auto;
}
.boton-enviar{
    background-color: #4c94b1;
    color: #e2f5f2;
}
.container-mis-proyectos{
    width: auto;
    margin: 10px 10px;
}
.container-mis-proyectos .container-fluid{
    margin: auto;
    padding: 0px;
    width: auto;
    margin-top: 25px;
    background-color: #96c0d1;
}

.card-img{
    display: flex;
    align-items: flex-start;
    justify-content:end;
    width: 100%;
    height: 340px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: 0px 2px 2px 0px #6a6c6d;
}
.card{
    padding: 0px;
    box-shadow: 0px 2px 2px 0px #6a6c6d;
    background-color: #eff5f4;
    border: 1px solid #6a6c6d;
}

.card-titulo{
    margin-top: 20px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card-parrafo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    font-size: 1.1rem;
}

footer{
    font-size: 1rem;
    width: auto;
    background-color: #050505;
    color: #e2f5f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}
