

nav{
    background-color: $ColorNav;
    text-decoration: none;
    border: none;
    & .navbar{
        margin: 0px;
        padding: 0px;
    }
    & .container-fluid{
        background-color: $ColorNav;
        text-decoration: none;
        border: none;
        margin: 0px;
        padding: 0px 30px;
    & .navbar-brand{
        font-size: 30px;
        }
    & img{
        background-color: $ColorNav;
        text-decoration: none;
        border: none;
        }
    & .navbar-toggler{
        margin: 5px;
        & .navbar-toggler-icon{
            background-color: $ColorNav;
            text-decoration: none;
            border: none;
            }
        }
    & .collapse{
        background-color: $ColorNav;
        text-decoration: none;
        border: none;
        & .navbar-nav{
            background-color: $ColorNav;
            text-decoration: none;
            border: none;
            & .nav-link{
                font-size: 24px;
            }
            }
        }
    
    }

}