#redes{
    background-color: #e2f5f2;
    height: auto;
    .row{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont-red{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a{
            color: black;
            font-size: 2rem;
            margin-bottom: 25px;
            text-decoration: none;
        }
        a:hover{
            color:$hoverColTitulo;
            cursor: pointer;
        }
        
    }
}
.icono-red1{
    @include iconosRedes;
}